<div class="footer py-5 mt-5">
  <div class=" d-flex flex-column justify-content-center align-items-center px-2">
    <div>
      <ul class="list-unstyled d-flex">
        <a href="https://github.com/mohamed-mohy"><li><i class="fab fa-github"></i></li></a>
        <a href="https://www.linkedin.com/in/mohamed-mohy-046a23140/"><li><i class="fab fa-linkedin"></i></li></a>
        <a href="mailto:m.mohy1995@gmail.com"><li><i class="far fa-envelope"></i></li></a>
      </ul>
    </div>
    <p class="text-center">MovX© 2021 Mohamed Mohy. All rights reserved.</p>
    <p class="text-center">Designed and built by me, data provided by <a href="https://www.themoviedb.org/">TMDb</a></p>
  </div>

</div>
